$def with(productos)
<body class="m-0 p-0 font-sans bg-gray-100">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-auto">
        <a href="/insertar" class="btn btn-primary">Insertar</a>
      </div>
      <div class="col-auto">
        <form class="input-group" method="POST" action="">
          <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Buscar producto" required>
          <button type="submit" class="btn btn-dark">Buscar</button>
        </form>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Existencias</th>
            <th scope="col">Imagen</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- Aquí comienza la implementación de la paginación -->
          $for campo in productos:
          <tr>
            <td>$campo['nombre']</td>
            <td>$campo['descripción']</td>
            <td>$campo['precio']</td>
            <td>$campo['existencias']</td>
            <td><img src="data:image/$campo['extension'];base64, $campo['imagen']" alt="" width="45" height="45"></td>
            <td>
              <a href="/detalle/$campo['id_productos']" class="btn btn-warning">Detalles</a>
              <a href="/actualizar/$campo['id_productos']" class="btn btn-info">Actualizar</a>
              <a href="/borrar/$campo['id_productos']" class="btn btn-danger">Borrar</a>
            </td>
          </tr>
          <!-- Aquí termina la implementación de la paginación -->
        </tbody>
      </table>
      
    </div>

    <!-- Implementación de la paginación -->
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="/">1</a></li>
        <li class="page-item"><a class="page-link" href="/">2</a></li>
        <li class="page-item"><a class="page-link" href="/">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- Fin de la implementación de la paginación -->

  </div>
</body>
